
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

:root {
--cinza-escuro: #111520;
--main-color: #080B12;
--red1: #EC3C3C;
--red2: #ec3c3c34;
--textcolor: #3D4D61;
--texlight: #7a8699;
--cinza-claro: #161d2a;
--azul-letra: #3c94ec;
--amarelo-letra: #fbbf24;
--fundo-amarelo: #fbbe245e 8%;
--borda-amarelo: #fbbe24c0 25%;
--borda: #ffffff73 7%;
--white: #ffffff;
}


.lateral {
    background: var(--cinza-escuro);
    height: 100vh;
    width: 300px;
}

.L1 h1 {
    color: var(--textcolor);
    font-weight: 100;
    padding-left: 25px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 0;
}

.L1 h2 {
    text-align: center;
    color: var(--red1);
    font-weight: 400;
    font-size: 30px;
}

.L1 span {
    color: var(--red1);
}

.line {
    background-color: var(--red1);
    height: 3px;
    width: 100%;
    border: 10px;
}

body {
    background: var(--main-color);
    height: 100%;
}

.L1 div {
    background: var(--red2);
    width: 100px;
    height: 35px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 100px;
}

.Nav {
    color: var(--textcolor);
    padding-top: 10px;
    font-size: 10px;
    padding-left: 25px;
}

button {
    margin-top: 20px;
    width: 240px;
    height: 45px;
    background: var(--cinza-claro);
    color: var(--texlight);
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-align: left;
    padding-left: 30px;
}