* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

:root {
    --cinza-escuro: #111520;
    --main-color: #080B12;
    --red1: #EC3C3C;
    --red2: #ec3c3c34;
    --textcolor: #3D4D61;
    --texlight: #7a8699;
    --cinza-claro: #161d2a;
    --azul-letra: #3c94ec;
    --amarelo-letra: #fbbf24;
    --fundo-amarelo: #fbbe245e 8%;
    --borda-amarelo: #fbbe24c0 25%;
    --borda: #ffffff73 7%;
    --white: #ffffff;
}

body {
    background: var(--main-color);
    height: 100vh; 
    margin: 0;
    overflow: hidden;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.lateral {
    background: var(--cinza-escuro);
    height: 100vh;
    width: 300px;
    flex-shrink: 0;
}

.L1 h1 {
    color: var(--textcolor);
    font-weight: 100;
    padding-left: 25px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 0;
}

.L1 h2 {
    text-align: center;
    color: var(--red1);
    font-weight: 400;
    font-size: 30px;
}

.L1 span {
    color: var(--red1);
}

.line {
    background-color: var(--red1);
    height: 3px;
    width: 100%;
    border: 10px;
}

.L1 div {
    background: var(--red2);
    width: 100px;
    height: 35px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 100px;
}

.Nav {
    color: var(--textcolor);
    padding-top: 10px;
    font-size: 10px;
    padding-left: 25px;
}

button {
    margin-top: 20px;
    width: 240px;
    height: 45px;
    background: var(--cinza-claro);
    color: var(--texlight);
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-align: left;
    padding-left: 30px;
    cursor: pointer;
}

button:hover {
    background: var(--red1);
    color: var(--white);
}


.main {
    flex: 1;
    background-color: var(--main-color); 
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    padding-top: 40px;
    padding-left: 40px;
}

.T1 h3 {
    color: var(--textcolor);
    font-size: 30px;
    font-weight: 100;
}

.T1 span {
    color: var(--red1);
}

.T1 p {
    color: var(--textcolor);
    padding-left: 3px;
    padding-top: 5px;
}

.blocos-container {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.bloco {
    background: var(--cinza-claro);
    border-radius: 8px;
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid var(--borda);
    color: var(--textcolor);
    text-align: center;
}
